.content{
    box-shadow: 5px 5px 50px black;
    background-color: #efefef;
}
.header-content{
    padding:7px;
    font-size: medium;
    font-style: italic;
    color: #efefef;
    background-color:#1B1C1D;
}
.header-title{
    margin-left:7px !important;
    font-size: 12px !important;
    color: #1B1C1D !important;
}
.body-content{
    padding: 10px;
}
.close-content{
    float: right;
}
.maximize-content{
    float: right;
}
.minimize-content{
    float: right;
}
.close-content:hover{
    color: #d9d9d9;
}
.close-content:active{
    color: white;
}